/* Style for the label to resemble a checkbox */
// .visible-checker::before {
//   content: '';
//   display: inline-block;
//   width: 1rem;
//   height: 1rem;
//   border-radius: 50%; /* Create a circular shape */
//   border: 2px solid #007bff; /* Border for the checkbox (blue color) */
//   background-color: #fff; /* Background color of the circular checkbox */
//   margin-right: 5px; /* Spacing between the circular checkbox and label */
//   vertical-align: middle;
//   transition: background-color 0.2s, border-color 0.2s; /* Add a smooth transition for color changes */
// }
.cabinClass{

  & h4{
    margin-bottom: 1em;
  }
}
.cabinclass-container{
 

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  & label{
    text-transform: capitalize;
  }
 
}

.visible-checker{
  
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.invisible-checkbox{
  display: none;
  
}
.cabin-checker {
  width: 15px;

  height: 15px;

  border-radius: 50%; /* Create a circular shape */

  border: 2px solid #007bff; /* Border color for the circle */

  display: inline-block;

  position: relative;

  cursor: pointer;

  margin-right: .2rem;
}

/* Style for the checked state of the label */
.invisible-checkbox:checked + .cabin-checker::before {
  content: "";

  width: 1rem;

  height: 1rem;

  border-radius: 50%;

  background-color: #007bff; /* Color of the checkmark */

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  display: block;
}